src/Freeworkflows/HPC AI Training Automation (1).json
{
  "name": "HPC AI Training Automation",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "start-training",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "5b655603-619e-4b2e-b6a6-e39cfa1dfc0c",
      "name": "Webhook - Start Training",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -336,
        256
      ],
      "webhookId": "start-training-webhook"
    },
    {
      "parameters": {
        "functionCode": "// استخراج البيانات من الطلب\nconst inputData = $input.item.json;\n\n// تجهيز معلومات المهمة\nconst jobConfig = {\n  job_name: inputData.model_name || 'ai_training_job',\n  script_path: inputData.script || '/home/user/train.py',\n  gpu_count: inputData.gpu_count || 4,\n  dataset_path: inputData.dataset_path || '/data/dataset',\n  hyperparameters: {\n    epochs: inputData.epochs || 100,\n    batch_size: inputData.batch_size || 32,\n    learning_rate: inputData.learning_rate || 0.001\n  },\n  output_dir: `/models/${inputData.model_name || 'model'}_${Date.now()}`,\n  timestamp: new Date().toISOString()\n};\n\nreturn {\n  json: jobConfig\n};"
      },
      "id": "b99daca2-a78b-4ff8-8043-73c24588c146",
      "name": "Prepare Job Configuration",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -144,
        256
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://your-hpc-cluster.com/api/v1/jobs/submit",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "job_name",
              "value": "={{ $json.job_name }}"
            },
            {
              "name": "script",
              "value": "={{ $json.script_path }}"
            },
            {
              "name": "resources",
              "value": "={{ {\"gpu\": $json.gpu_count, \"memory\": \"64GB\", \"time\": \"24:00:00\"} }}"
            },
            {
              "name": "parameters",
              "value": "={{ $json.hyperparameters }}"
            },
            {
              "name": "output_path",
              "value": "={{ $json.output_dir }}"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "id": "58c40f50-20e2-4cc0-a0f8-611f866fe622",
      "name": "Submit Job to HPC",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        64,
        256
      ]
    },
    {
      "parameters": {
        "functionCode": "// حفظ معلومات المهمة\nconst jobInfo = $input.item.json;\n\n// استخراج job_id من الاستجابة\nconst jobId = jobInfo.job_id || jobInfo.id;\nconst status = jobInfo.status || 'submitted';\n\n// إعداد البيانات للتخزين والإشعار\nreturn {\n  json: {\n    job_id: jobId,\n    status: status,\n    submitted_at: new Date().toISOString(),\n    cluster_url: `https://your-hpc-cluster.com/jobs/${jobId}`,\n    estimated_time: jobInfo.estimated_time || 'N/A',\n    message: `✅ Training job ${jobId} submitted successfully!`\n  }\n};"
      },
      "id": "4219f9ff-d2ec-4e37-9ca6-bfc41e9cd79f",
      "name": "Process HPC Response",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        272,
        256
      ]
    },
    {
      "parameters": {
        "text": "=🚀 *New Training Job Started*\n\n*Job ID:* {{ $json.job_id }}\n*Status:* {{ $json.status }}\n*Submitted:* {{ $json.submitted_at }}\n*Monitor:* {{ $json.cluster_url }}\n*Estimated Time:* {{ $json.estimated_time }}",
        "otherOptions": {}
      },
      "id": "196d428c-0b19-48c8-b14b-382aa270392e",
      "name": "Notify on Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.1,
      "position": [
        464,
        144
      ],
      "webhookId": "68a3b052-d62e-4183-af75-c26442c57be9"
    },
    {
      "parameters": {
        "fromEmail": "[REDACTED_EMAIL]",
        "toEmail": "={{ $json.user_email || '[REDACTED_EMAIL]' }}",
        "subject": "=AI Training Job Started: {{ $json.job_id }}",
        "options": {}
      },
      "id": "d314012d-31e6-4577-8354-da679c6bc53a",
      "name": "Send Email Notification",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [
        464,
        352
      ],
      "webhookId": "9e4654e9-6653-4557-a9b5-e5fdd569c648"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "adc7e3ea-9376-447d-b9cc-60ca51a53aea",
      "name": "Send Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        672,
        256
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "*/30 * * * *"
            }
          ]
        }
      },
      "id": "30c078cf-887d-4a0d-a8d7-3f7a43bb2406",
      "name": "Check Job Status (Every 30min)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        -336,
        544
      ]
    },
    {
      "parameters": {
        "url": "=https://your-hpc-cluster.com/api/v1/jobs/{{ $json.job_id }}/status",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "6fb6b749-a55b-415a-8400-a8b5cfd27c64",
      "name": "Get Job Status from HPC",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -144,
        544
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.status }}",
              "operation": "equals",
              "value2": "completed"
            }
          ]
        }
      },
      "id": "978e78eb-13a3-4ee5-9ddf-320a7fca5aca",
      "name": "Job Completed?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        64,
        544
      ]
    },
    {
      "parameters": {
        "text": "=🎉 *Training Completed!*\n\n*Job ID:* {{ $json.job_id }}\n*Duration:* {{ $json.duration }}\n*Model Path:* {{ $json.output_path }}\n*Accuracy:* {{ $json.metrics.accuracy || 'N/A' }}\n*Loss:* {{ $json.metrics.loss || 'N/A' }}",
        "otherOptions": {}
      },
      "id": "fd99f9f7-6f5e-4a92-86ec-9bb8371b4367",
      "name": "Notify Training Complete",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.1,
      "position": [
        272,
        448
      ],
      "webhookId": "07f97f73-9fbf-4d01-9c79-8f5724528ad6"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook - Start Training": {
      "main": [
        [
          {
            "node": "Prepare Job Configuration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Job Configuration": {
      "main": [
        [
          {
            "node": "Submit Job to HPC",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Submit Job to HPC": {
      "main": [
        [
          {
            "node": "Process HPC Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process HPC Response": {
      "main": [
        [
          {
            "node": "Notify on Slack",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send Email Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify on Slack": {
      "main": [
        [
          {
            "node": "Send Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email Notification": {
      "main": [
        [
          {
            "node": "Send Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Job Status (Every 30min)": {
      "main": [
        [
          {
            "node": "Get Job Status from HPC",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Job Status from HPC": {
      "main": [
        [
          {
            "node": "Job Completed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Job Completed?": {
      "main": [
        [
          {
            "node": "Notify Training Complete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "4fa2958e-5c1c-4cb0-a2d3-40e7daa5f15e",
  "meta": {
    "instanceId": "d30aba91e8fcb11ba8895610e56bb41d0ede6903a188ad97fd63e9974dacf8c8"
  },
  "id": "vErG7OelfraRiBte",
  "tags": []
}